@use "../../styles/variables.scss" as *;

.toc {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.4rem;
  flex: 0 0.5 auto;
  &:has(button.toc-header.collapsed) {
    flex: 0 1 1.4rem;
  }
}

button.toc-header {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

ul.toc-content.overflow {
  list-style: none;
  position: relative;
  margin: 0.5rem 0;
  padding: 0;
  max-height: calc(100% - 2rem);
  overscroll-behavior: contain;
  list-style: none;

  & ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    scrollbar-width: none;

    // // Custom scrollbar styles for the ul
    // &::-webkit-scrollbar {

    //   width: 4px; // Width of the scrollbar
    // }

    // &::-webkit-scrollbar-track {
    //   background: rgb(255, 255, 255, 0);
    // }

    // &::-webkit-scrollbar-thumb {
    //   background: linear-gradient(to bottom, rgba(71, 84, 197, 0.3), rgba(177, 246, 248, 0.3));
    //   border-radius: 10px; // Rounded corners for the thumb
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //   background: linear-gradient(to bottom, rgba(71, 84, 197, 0.4), rgba(177, 246, 248, 0.4));
    // }

    // :root[saved-theme="dark"] & {
    //   &::-webkit-scrollbar-thumb {
    //       background: linear-gradient(to bottom, rgba(177, 246, 248, 0.3), rgba(71, 84, 197, 0.3));
    //       border-radius: 10px;
    //     }

    //     &::-webkit-scrollbar-thumb:hover {
    //       background: linear-gradient(to bottom, rgba(177, 246, 248, 0.4), rgba(71, 84, 197, 0.4));
    //     }
    // }

    & > li > a {
      color: var(--dark);
      opacity: 0.35;
      transition:
        0.5s ease opacity,
        0.3s ease color;
      &.in-view {
        opacity: 0.75;
      }
    }
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
